<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<add key="CoreLibsDebug" value="C:\Users\GlenBanta\source\repos\LibHarness\CoreRazorLib\bin\Debug" />
		<add key="CoreLibsRelease" value="C:\Users\GlenBanta\source\repos\LibHarness\CoreRazorLib\bin\Release" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>